nav{
    height: min-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(103, 241, 244, 0.137);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
nav img{
    height: 75px;
}
ul{
    display: flex;
    gap:170px;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color:black;
    padding: 15px 20px;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}
ul a:hover{
    background-color: rgba(39, 46, 108, 0.385);
    color:white;
}
.noflex{
    display: flex;
    align-items: center;
    cursor: default;
}