
<h1>Messages</h1>

<div class="message-container">
  <div *ngFor="let message of messages" class="message">
    <div class="sender">From: {{ message.sender }}</div>
    <div class="content">To: {{ message.receiver }}</div>
    <div class="content">{{ message.content }}</div>
  </div>
</div>

<!--<div class="message-container">-->
<!--  <div class="message">-->
<!--    <p class="sender">{{ message.sender }}</p>-->
<!--    <p class="content">{{message.content}}</p>-->
<!--    <p class="content">{{message.receiver}}</p>-->
<!--  </div>-->
<!--</div>-->

<h2>Send a Message</h2>

<form (ngSubmit)="sendMessage()">
  <div>
    <label for="sender">From:</label>
    <input type="text" [(ngModel)]="newMessage.sender" name="sender" id="sender">
  </div>
  <div>
    <label for="receiver">To:</label>
    <input type="text" [(ngModel)]="newMessage.receiver" name="receiver" id="receiver">
  </div>
  <div>
    <label for="content">Message:</label>
    <textarea [(ngModel)]="newMessage.content" name="content" id="content"></textarea>
  </div>
  <button type="submit">Send</button>
</form>


