<app-navigation></app-navigation>
<h1 style="text-align: center;">{{usertwo}}</h1>

<div class="message-container" id="messageContainer">
  <div *ngFor="let message of messages" class="message" [ngClass]="{'sent': message.sender == username}">
    <div class="content">
      {{ message.content }}</div>
  </div>
</div>

<!--<div class="message-container">-->
<!--  <div class="message">-->
<!--    <p class="sender">{{ message.sender }}</p>-->
<!--    <p class="content">{{message.content}}</p>-->
<!--    <p class="content">{{message.receiver}}</p>-->
<!--  </div>-->
<!--</div>-->

<form (ngSubmit)="sendMessage()">
  <div>
    <textarea [(ngModel)]="newMessage.content" name="content" id="content" placeholder="Message ..." rows="1" cols="70" style="overflow:hidden;resize:none;"></textarea>
  </div>
  <button type="submit" style="width:15%">Send</button>
</form>
<app-footer></app-footer>





