<button mat-stroked-button color="accent"
        class="action-button"
        (click)="navigateToMilestones()">Back to milestones</button>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Title</mat-label>
      <input matInput [formControlName]="'title'">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>
      <mat-select [formControlName]="'color'">
        <mat-option *ngFor="let color of colors"
                    [value]="color.color"
                    [ngStyle]="{'background-color':color.color}">
          {{color.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Time</mat-label>
      <input matInput [formControlName]="'time'">
    </mat-form-field>

    <button type="submit"
            mat-flat-button
            color="primary">Save
    </button>
  </div>
</form>
