<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<header>
  <div class="headerElements">
  <h1>We are here to help</h1>
  <a [routerLink]="['']">Return to homepage</a>
  </div>
</header>
<body>
<div>
  <h2> How do I place an order on your website?</h2><br>
  <p>Placing an order is quick and easy. Simply browse our services, select the one you want, and click on it.<br> Once you're ready to complete your purchase, proceed to the checkout page and follow the prompts to enter your shipping and payment information.</p>
  <br>
  <br>
  <h2>What payment methods do you accept?</h2><br>
  <p>We accept a variety of payment methods, including credit and debit cards (Visa, Mastercard, American Express), PayPal, and bank transfers. Rest assured that all transactions are securely processed to protect your financial information.</p>
  <br>
  <br>
  <h2>How long does processing take?</h2><br>
  <p>Processing times may vary depending on traffic and the service chosen. Generally, orders are processed within 1-2 business days. You will receive a confirmation email with the needed information once your order has been placed.</p>
<br>
  <br>
  <h2>Can I cancel or modify my order after it has been placed?</h2><br>
  <p>We strive to process orders quickly, but we understand that sometimes you may need to make changes. If you need to cancel or modify your order, please reach out to our customer support as soon as possible. While we cannot guarantee that changes can be made once an order is placed, we will do our best to assist you.</p>
</div>
<hr>
  <h3>Contact Us!</h3>
<br>
  <form action="https://formsubmit.co/eb8cd17c0b5273e7174b0559039f7900" method="POST">

    <input type="text" name="_honey" style="display: none;">
    <input type="hidden" name="_captcha" value="false">

    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" name="name" id="firstName" required>
    </div>

    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="Last&nbsp;Name" id="lastName" required>
    </div>
    <div class="col-md-6">
      <label for="emailInfo" class="form-label">E-mail</label>
      <input type="email" class="form-control" name="email" id="emailInfo" required>
    </div>
    <div class="col-md-4">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control" name="phone" id="phoneNumber" placeholder="+1 (415) 867-5309">
      <br>
    </div>
    <div class="col-md-6">
      <label for="comments" class="form-label">Comments, questions?</label>
      <textarea class="form-control" id="comments" name="comments,&nbsp;questions" rows="3" required></textarea>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>

