<app-navigation></app-navigation>
<div class="container">
  <div class="left">
    <div class="profile">
      <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg" alt="Profile Picture">
      <h1>John Doe</h1>
      <h2>Professor of Computer Science</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
        dignissim sit amet, adipiscing nec, ultricies sed, dolor.
      </p>
    </div>
    <div class="profile-stats">
      <h2>Profile Stats</h2>
      <p><strong>Interests: </strong>Programming, Gaming, Traveling</p>
      <p><strong>Hobbies: </strong>Reading, Swimming, Hiking</p>
    </div>
  </div>
  <div class="right">
    <div class="details">
      <h3>Details</h3>
      <p><strong>Email: </strong>johndoe@example.com</p>
      <p><strong>Major: </strong>Computer Science</p>
      <p><strong>Minor: </strong>Mathematics</p>
      <p><strong>GPA: </strong>3.8</p>
      <p><strong>Years of Experience: </strong>10</p>
      <p><strong>Employment History: </strong>ABC Company, XYZ Corporation</p>
    </div>
    <div class="rating">
      <h2>Rating</h2>
      <img src="/assets/images/ikona.png" alt="Star Rating">
      <img src="/assets/images/ikona.png" alt="Star Rating">
      <img src="/assets/images/ikona.png" alt="Star Rating">
      <img src="/assets/images/ikona.png" alt="Star Rating">
      <img src="/assets/images/ikona.png" alt="Star Rating">
    </div>
  </div>
</div>
<app-footer></app-footer>