<app-navigation></app-navigation>
<div class="search-container">
    <h1>Search Professors</h1>
  
    <div class="search-form">
      <input type="text" placeholder="Search by professor name or expertise" [(ngModel)]="searchQuery" (keyup)="search()">
      <button (click)="search()">Search</button>
    </div>
  
    <div class="search-results">
      <div *ngIf="searchResults.length === 0">
        No results found.
      </div>
      <div *ngFor="let professor of searchResults">
        <h2>{{ professor.fullName }}</h2>
        <p>Degree: {{ professor.degree }}</p>
        <p>Email: {{ professor.email }}</p>
        <p>Course: {{ professor.course }}</p>
        <div class="rating">
          <div class="stars" [style.width.%]="(professor.rating / 5) * 100"></div>
          <span class="rating-value">{{ professor.rating.toFixed(2) }}</span>
        </div>
        <button class="message-button" (click)="navigateToMessaging(professor.fullName)">Message</button>
      </div>
    </div>
  </div>