<app-navigation></app-navigation>
<section>
    <div class="left">
        <h2>You're in the right place</h2>
        <p>Find your perfect teacher today. Whether you need help with math, languages, music, or any other subject, we have the right teacher for you. Browse through thousands of profiles, read reviews, and compare prices. Book your first private class with confidence and enjoy a personalized learning experience. Don’t wait any longer.</p>
        <a class="btn" (click)="signup()"><span>Start learning now</span></a>
    </div>
    <div class="right">
        <img src="/assets/images/teacherhomepage.svg" alt="">
    </div>
</section>
<section class="teacherjoin">

</section>
<app-footer></app-footer>